@import url('https://fonts.cdnfonts.com/css/roboto');

body {
    font-family: 'Roboto', sans serif;
    background-color: #222435;
}

h1 {
    font-size: 2.4rem;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

form {
    width: 600px;
    height: 60px;
    display: flex;
    margin: 30px auto;
    position: relative;
    margin-bottom: 40px;
}

input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    border: none;
    background-color: #fff;
    padding-left: 16px;
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
}

.btn-add {
    font-size: .9rem;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 24px;
    height: 62px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #3a88ff;
}

.btn-add:hover {
    background-color: #015ce6;
}

.lista-tarefas {
    text-align: center;
    margin: auto;
    width: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.item {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #346085;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
}

.item:hover {
    font-weight: 900;
    color: #fff;
    background-color: #346085;
}

.item span {
    text-align: start;
    width: 100%;
    margin-right: 10px;
    padding: 10px 16px;
}

.item.completo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    background-color: #346085;
    opacity: 0.2;
}

.item.completo span {
    width: 100%;
    margin-right: 10px;
    padding: 10px 15px;
    text-decoration: line-through;
}

.del {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: #ff004c;
    cursor: pointer;
    padding: 14px;
    border: none;
    background: transparent;
}

.del:hover {
    color: #fff;
    background: #ff004c;
}

.delete-all {
    font-size: .9rem;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    color: #ff004c;
    font-weight: bold;
    padding: 14px;
    border: 1px solid #ff004c;
    background: transparent;
    margin-top: 20px;
}

.delete-all:hover {
    color: #fff;
    background-color: #ff004c;
}

.icone {
    margin-top: 20px;
    max-width: 60%;
}

@media screen and (max-width: 900px) {

    form {
        width: 100%;
    }

    .lista-tarefas {
        width: 100%;
    }

    .icone {
        width: 100%;
    }

}